$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-grey: hsl(0, 0%, 59%);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


//background
body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.3;
  font-weight: 400;
  background-color: $dark-cyan;
  overflow: hidden;
  color: $very-dark-desaturated-blue;
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: top -40rem  left -49rem, 
  bottom -70rem right -48rem;


  @media (min-width:425px){
    background-position: top -39rem  left -42rem, 
    bottom -70rem right -46rem;
    font-size: 16px;
  }
  @media (min-width:768px){
    background-position: top -30rem  left -35rem, 
    bottom -75rem right -25em;
    font-size: 20px;
  }
  @media (min-width:1024px){
    background-position: top -30rem  left -35rem, 
    bottom -75rem right -20em;
    font-size: 22px;
  }
  @media (min-width:1440px){
    background-position: top -30rem  left -15rem, 
    bottom -75rem right -10em;
    font-size: 24px;
  }

  .card{
    background-color: white;
    border-radius: 0.9375em;
    position: absolute;
    width: 16em;//256px
    height: 18em;//288px
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &__top{
      background-image: url(/images/bg-pattern-card.svg);
      height: 6em;
      border-top-left-radius: 0.9375rem ;
      border-top-right-radius:0.9375rem ;
    }

    &__middle{
      position: relative;
      height: 7em;
      text-align: center;
      line-height: 0.5;
      &__img{
        max-width: 100vmax;
        height: auto;
        border-radius: 50%;
        border: 0.375rem solid white;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: -4em;
        @media (min-width:425px){
          top: -4.5em;
        }
        @media (min-width:768px){
          top: -4.1em;
        }
        @media (min-width:1024px){
          top: -3.75em;
        }
        @media (min-width:1440px){
          top: -3.5em;
        }
      }

      &__name{
        font-weight: 700;
        padding-top: 4rem;
        font-size: 1.25em;
        &__age{
          font-weight: 400;
          color: $dark-grey;
          padding-left: 0.2rem;
        }
      }

      &__place{
        font-weight: 400;
        color: $dark-grey;
        font-size: 1em;
      }
    }

    &__bottom{
      border-top: 0.5px solid $dark-grey;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
      &__number{
        font-size: 1.25em;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        &__placeholder{
          font-weight: 400;
          color: $dark-grey;
          font-size: 0.5em;
        }
      }
    }
    }
    .attribution{
      position: absolute;
      bottom: 0;
    }
}